body {
  padding-top: 5rem;
  background-image: url("https://pmcdeadline2.files.wordpress.com/2019/08/marvel_entertainment_logo_2002.jpg?w=1024";
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
