h1 {
  font-size: 7em;
  font-family: fantasy;
  color: white;
  text-align: center;
}
h2 {
  font-size: 4em;
  text-align: left;
}
body {
  padding-top: 7rem;
  background-color: rgb(204, 0, 0);
  color: white;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.col-sm {
  padding-bottom: 20px;
}
